body {
    background-color: white;
}

.sidenav {
    height: 100%;
    width: 170px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav h2 {
    color: #f1f1f1;
    padding-left: 16px;
    padding-bottom: 10px;
    font-weight: 725;
}

.sidenav a {
    padding: 6px 8px 6px 20px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
}

#active {
    color: #f1f1f1;
}

.current {
    background-color: white;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 180px;
    padding: 16px 10px;
}

hr {
    border: 1px solid gray;
}
