<style>
	* {
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
			Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
		padding: 0px;
		margin: 0px;
	}

	.edit-task--card {
		width: 800px;
		height: 650px;
		/* background: #ecf0f1; */
		display: grid;
		grid-template-rows: 0.6fr 3fr 3fr 0.7fr;
		font-size: 20px;
		grid-template-areas:
			"header header header header header header"
			"taskInfo assign assign assign assign assign"
			"taskInfo assign assign assign assign assign"
			"footer footer footer footer footer footer";

		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		position: relative;
		background-color: #fefefe;
		margin: auto;
		padding: 0;
		/* width: 90%; */
		max-width: 1200px;
	}

	.edit-task--header {
		grid-area: header;
		background: #ecf0f1;
		margin-bottom: 15px;
		padding: 15px;
		/* background: red; */
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
	}

	.edit-task--attach-btn {
		all: unset;
		cursor: pointer;
		background: #3498db;
		padding: 10px;
		border-radius: 5px;
		color: white;
		font-size: 16px;
		font-weight: 600;
		float: right;
		margin-top: -40px;
	}

	.edit-task--attach-btn:hover {
		background: #297ab1;
	}

	.edit-task--taskInfo {
		grid-area: taskInfo;
		/* background: blue; */
	}

	.edit-task--left-panel {
		padding: 15px;
		padding-bottom: 0px;
		padding-top: 0px;
		border-right: 1px solid #ecf0f1;
	}

	.edit-task--left-panel input {
		width: 100%;
		margin-top: 10px;
	}

	.edit-task--assign {
		grid-area: assign;
		/* background: pink; */
		/* padding: 15px; */
	}

	.edit-task--right-panel {
		padding: 15px;
		padding-top: 0px;
	}

	.edit-task--left-panel ul {
		margin-top: 10px;
	}
	.edit-task--right-panel label {
		font-size: 20px;
		margin-bottom: 10px;
		font-weight: 600;
	}

	.create-task-control-group {
		margin-top: 18px;
	}

	.create-task-control-group:first-child {
		margin-top: 0px;
	}

	.edit-task--left-panel label {
		font-size: 20px;
		margin-bottom: 10px;
		font-weight: 600;
	}

	.edit-task--left-panel input {
		height: 40px;
		padding: 5px;
		font-size: 20px;
		margin-top: 10px;
	}

	.edit-task--left-panel textarea {
		width: 100%;
		height: 40px;
		padding: 5px;
		font-size: 20px;
		margin-top: 10px;
	}

	.edit-task--comment-pit {
		overflow-y: scroll;
		height: 50%;
		-moz-box-shadow: inset 0 0 5px #000000;
		-webkit-box-shadow: inset 0 0 5px #000000;
		box-shadow: inset 0 0 5px #000000;
		padding: 15px;
		margin-top: 10px;
	}

	.edit-task--comment-pit li {
		list-style-type: none;
		margin: 5px 0px;
	}

	.edit-task--assign-pit {
		overflow-y: scroll;
		height: 10%;
		-moz-box-shadow: inset 0 0 5px #000000;
		-webkit-box-shadow: inset 0 0 5px #000000;
		box-shadow: inset 0 0 5px #000000;
		padding: 15px;
		margin-top: 10px;
	}

	.edit-task--assign-pit li {
		list-style-type: none;
		margin: 5px 0px;
	}

	.edit-task--selector {
		width: 100%;
	}

	.edit-task--footer {
		grid-area: footer;
		background: #ecf0f1;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
	}

	.edit-task--button-group {
		margin-top: 10px;
		margin-right: 15px;
		float: right;
	}

	.edit-task--create-btn {
		all: unset;
		cursor: pointer;
		background: #2ecc71;
		padding: 10px;
		border-radius: 5px;
		color: white;
		font-size: 16px;
		font-weight: 600;
	}

	.edit-task--create-btn:hover {
		background: #28b161;
	}

	.edit-task--cancel-btn {
		all: unset;
		cursor: pointer;
		/* background: #2ecc71; */
		padding: 10px;
		border-radius: 5px;
		color: #e74c3c;
		font-size: 16px;
		/* font-weight: 600; */
	}

	.edit-task--cancel-btn:hover {
		background: #00000011;
	}

	.edit-task--comment-box input {
		width: 100%;
		height: 40px;
		padding: 5px;
		font-size: 20px;
		margin-top: 10px;
	}

	.edit-task--task-id {
		color: #bdc3c7;
		float: left;
		margin-top: 7px;
		margin-right: 520px;
	}

	.edit-task--send-btn {
		all: unset;
		cursor: pointer;
		background: #2ecc71;
		padding: 10px;
		border-radius: 5px;
		color: white;
		font-size: 16px;
		font-weight: 600;
		width: calc(100% - 20px);
		margin-top: 10px;
		text-align: center;
	}
	.modal {
		display: block;
		position: fixed;
		z-index: 1;
		padding-top: 100px;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: rgba(0, 0, 0, 0.6);
	}
</style>
<div class="modal">
	<div class="edit-task--card">
		<div class="edit-task--header">
			<h2>Edit Task</h2>

			<button id="button1id" name="button1id" class="edit-task--attach-btn">
				<i class="fas fa-paperclip"></i> Attach File
			</button>
		</div>

		<div class="edit-task--taskInfo">
			<form class="edit-task--left-panel">
				<div class="create-task-control-group">
					<label class="" for="textinput">Task Name</label>
					<div class="">
						<input
							id="textinput"
							name="textinput"
							type="text"
							placeholder="Build a dog house"
							class="form-control input-md"
						/>
					</div>
				</div>

				<div class="create-task-control-group">
					<label class="col-md-4 control-label" for="textarea"
						>Definition of Done</label
					>
					<textarea id="textarea" name="textarea">
follow the dog house plans</textarea
					>
				</div>
				<!-- Textarea -->
				<div class="create-task-control-group">
					<label class="col-md-4 control-label" for="textarea"
						>Task Description</label
					>
					<textarea id="textarea" name="textarea">
follow the dog house plans</textarea
					>
				</div>
				<!-- Select Multiple -->
				<div class="create-task-control-group">
					<label class="col-md-4 control-label" for="selectmultiple"
						>Due Date</label
					>
					<div class="col-md-6">
						<input
							class="form-control"
							type="date"
							value="2019-02-08"
							id="due-date-input"
						/>
					</div>
				</div>
				<div class="create-task-control-group">
					<label class="">Assign</label>
					<div class="edit-task--assign-pit">
						<ul>
							<li><i class="far fa-square"></i> Heath Campbell</li>
							<li><i class="far fa-square"></i> Beef Campbell</li>
							<li><i class="far fa-square"></i> Keath Campbell</li>
							<li><i class="far fa-square"></i> Heath Campbell</li>
							<li><i class="far fa-square"></i> Beef Campbell</li>
							<li><i class="far fa-square"></i> Keath Campbell</li>
							<li><i class="far fa-square"></i> Heath Campbell</li>
							<li><i class="far fa-square"></i> Beef Campbell</li>
							<li><i class="far fa-square"></i> Keath Campbell</li>
							<li><i class="far fa-square"></i> Heath Campbell</li>
							<li><i class="far fa-square"></i> Beef Campbell</li>
							<li><i class="far fa-square"></i> Keath Campbell</li>
							<li><i class="far fa-square"></i> Heath Campbell</li>
							<li><i class="far fa-square"></i> Beef Campbell</li>
							<li><i class="far fa-square"></i> Keath Campbell</li>
							<li><i class="far fa-square"></i> Heath Campbell</li>
							<li><i class="far fa-square"></i> Beef Campbell</li>
							<li><i class="far fa-square"></i> Keath Campbell</li>
							<li><i class="far fa-square"></i> Heath Campbell</li>
							<li><i class="far fa-square"></i> Beef Campbell</li>
							<li><i class="far fa-square"></i> Keath Campbell</li>
						</ul>
					</div>
				</div>
			</form>
		</div>
		<div class="edit-task--assign">
			<div class="edit-task--right-panel">
				<label class="">Comments and uploads</label>
				<div class="edit-task--comment-pit">
					<ul>
						<li>
							<b
								>Justin Kim uploaded a file "CompSci 345.doc"(<a
									href="#"
									>Download</a
								>)</b
							>
						</li>
						<li>
							<span>Heath Campbell:</span> I think there should be less
							color
						</li>
					</ul>
				</div>
				<div class="edit-task--comment-box">
					<input
						id="textinput"
						name="textinput"
						type="text"
						placeholder="Build a dog house"
						class="form-control input-md"
					/>
					<button
						id="button1id"
						name="button1id"
						class="edit-task--send-btn"
					>
						<i class="fas fa-paper-plane"></i> Send
					</button>
				</div>
			</div>
		</div>
		<div class="edit-task--footer">
			<div class="edit-task--button-group">
				<div class="edit-task--task-id">
					<span>#F41AB3</span>
				</div>
				<button
					id="button3id"
					name="button3id"
					class="edit-task--cancel-btn"
				>
					Cancel
				</button>
				<button
					id="button4id"
					name="button4id"
					class="edit-task--create-btn"
				>
					<i class="fas fa-sync"></i> Update
				</button>
			</div>
		</div>
	</div>
</div>
