<nav class="main-nav nav">
	<div class="main-nav-top">
		<div>
			<img
				class="logo"
				src="../assets/images/logo.png"
				alt="Groupify logo"
			/>
		</div>
		<div id="searchbar-outter">
			<input id="searchbar" placeholder="search..." />
		</div>
		<ul class="nav profile-nav">
			<li>Zoe Mills</li>
			<li><i class="fas fa-cogs"></i> Settings</li>
		</ul>
	</div>

	<div class="main-nav-bottom">
		<ul class="nav tabs">
			<li class="active">Dashboard</li>
			<li>People</li>
			<li>Calander</li>
			<li>Dropbox</li>
			<li>Tasks</li>
			<li>Chat</li>
		</ul>
	</div>
</nav>
