<style>
	* {
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
			Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
		padding: 0px;
		margin: 0px;
	}

	.task-manager {
		/* width: calc(100% - 170px); */
		height: 1000px;
		/* background: red; */
	}

	.task-manager--tool-bar {
		height: 40px;
		margin: 10px 0px;
		/* background: blue; */
	}

	.task-manager--project-dropdown {
		position: relative;
		display: inline-block;
		color: white;
	}
	.task-manager--project-dropdown-content {
		display: none;
		position: absolute;
		background-color: #f9f9f9;
		min-width: 260px;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		z-index: 1;
	}

	.task-manager--project-dropdown-content ul {
		list-style-type: none;
	}

	.task-manager--project-dropdown-content ul li {
		min-width: 260px;
		/* height: 50px; */
		text-align: center;
		padding: 15px;
		font-size: 20px;
		cursor: pointer;
		color: black;
	}

	.task-manager--project-dropdown-content ul li:hover {
		background: #bdc3c7;
		cursor: pointer;
	}

	.task-manager--project-dropdown:hover
		.task-manager--project-dropdown-content {
		display: block;
	}

	.task-manager--project-dropdown-btn {
		background: #3498db;
		padding: 15px;
		font-size: 20px;
		/* border-radius: 5px; */
		min-width: 260px;
		text-align: center;
	}

	.task-manager--end-sprint-btn {
		height: 50px;
	}

	.task-manager--tasks {
		/* background: red; */
		height: 100%;
		width: 100%;
		margin-top: 50px;
		display: grid;
		grid-template-columns: auto auto auto auto auto;
		grid-column-gap: 20px;
	}

	/* .task-manager--tasks div {
		background: pink;
		height: 500px;
		width: 100%;
	} */

	.task-manager--tasks-heading {
		font-size: 24px;
		text-align: center;
		padding-bottom: 5px;
		margin-top: 10px;
		font-weight: 500;
		border-bottom: 2px solid black;
	}

	.task-manager--stickynote {
		margin-top: 20px;
		padding: 10px;

		border: 1px solid #e8e8e8;

		transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
		font-size: 22px;
		cursor: pointer;

		background: #ffff88; /* Old browsers */
		background: -moz-linear-gradient(
			-45deg,
			#ffff88 81%,
			#ffff88 82%,
			#ffff88 82%,
			#ffffc6 100%
		); /* FF3.6+ */
		background: -webkit-gradient(
			linear,
			left top,
			right bottom,
			color-stop(81%, #ffff88),
			color-stop(82%, #ffff88),
			color-stop(82%, #ffff88),
			color-stop(100%, #ffffc6)
		); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(
			-45deg,
			#ffff88 81%,
			#ffff88 82%,
			#ffff88 82%,
			#ffffc6 100%
		); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(
			-45deg,
			#ffff88 81%,
			#ffff88 82%,
			#ffff88 82%,
			#ffffc6 100%
		); /* Opera 11.10+ */
		background: -ms-linear-gradient(
			-45deg,
			#ffff88 81%,
			#ffff88 82%,
			#ffff88 82%,
			#ffffc6 100%
		); /* IE10+ */
		background: linear-gradient(
			135deg,
			#ffff88 81%,
			#ffff88 82%,
			#ffff88 82%,
			#ffffc6 100%
		); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff88', endColorstr='#ffffc6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}

	.task-manager--stickynote:hover {
		cursor: move;
		box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
			0 10px 10px rgba(0, 0, 0, 0.22);
	}

	.task-manager--tasks-column {
		background: #ecf0f1;
		padding: 15px;
	}

	.blue {
		color: #3498db;
		font-style: normal;
	}

	.green {
		color: #2ecc71;
		font-style: normal;
	}

	.darkBlue {
		color: #34495e;
		font-style: normal;
	}

	.task-manager--project-add-task {
		position: relative;
		display: inline-block;
		color: white;
	}

	.task-manager--project-dropdown-btn {
		background: #3498db;
		padding: 15px;
		font-size: 20px;
		/* border-radius: 5px; */
		min-width: 260px;
		text-align: center;
	}

	.pointer {
		cursor: pointer;
	}

	.pull-right {
		float: right;
	}

	.add-task-btn {
		background: #2ecc71;
	}
</style>

<script>
	function addTaskToggle() {
		console.log("click");
		if ($("#create-task-toggle").css("display") == "none")
			$("#create-task-toggle").css("display", "block");
		else $("#create-task-toggle").css("display", "none");
	}

	function addEditToggle() {
		console.log("click");
		if ($("#edit-task-toggle").css("display") == "none")
			$("#edit-task-toggle").css("display", "block");
		else $("#edit-task-toggle").css("display", "none");
	}
	setTimeout(() => {
		//create screen
		$("#add-task").on("click", function() {
			addTaskToggle();
		});
		$("#button2id").on("click", function() {
			addTaskToggle();
		});
		$("#button1id").on("click", function() {
			addTaskToggle();
		});

		$(".task-manager--stickynote").on("click", function() {
			addEditToggle();
		});

		$("#button3id").on("click", function() {
			addEditToggle();
		});

		$("#button4id").on("click", function() {
			addEditToggle();
		});
	}, 1000);
</script>

<div class="task-manager">
	<div class="task-manager--tool-bar">
		<div class="task-manager--project-dropdown">
			<div class="task-manager--project-dropdown-btn">
				<i class="fas fa-caret-down"></i> Project Name
			</div>
			<div class="task-manager--project-dropdown-content">
				<ul>
					<li>Project One</li>
					<li>Project Two</li>
					<li>Project Three</li>
				</ul>
			</div>
		</div>

		<div class=" task-manager--project-dropdown">
			<div
				id="add-task"
				class=" add-task-btn task-manager--project-dropdown-btn pointer"
			>
				<i class="fas fa-1x fa-plus"></i> Add Task
			</div>
		</div>

		<!-- <div class="task-manager--project-dropdown pull-right">
			<div class=" task-manager--project-dropdown-btn pointer">
				<i class="fas fa-1x fa-times"></i> End Sprint
			</div>
		</div> -->

		<div class="task-manager--project-dropdown pull-right">
			<div class=" task-manager--project-dropdown-btn pointer">
				<i class="fas fa-1x fa-running"></i> Sprint
			</div>
			<div class="task-manager--project-dropdown-content pull-right">
				<ul>
					<li>End Sprint</li>
					<li>View Last Sprints</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="task-manager--tasks">
		<div class="task-manager--tasks-column">
			<div class="task-manager--tasks-heading">BackLog</div>
			<div class="task-manager--stickynote">
				<h3>Task Name</h3>
				<br />
				<p>
					<i class="blue">HC</i> <i class="darkBlue">AC</i>
					<i class="green">ZM</i>
				</p>
				<br />
				<h5>Due in 5 days</h5>
			</div>
			<div class="task-manager--stickynote">
				<h3>Task Name</h3>
				<br />
				<p>
					<i class="blue">HC</i> <i class="darkBlue">AC</i>
					<i class="green">ZM</i>
				</p>
				<br />
				<h5>Due in 5 days</h5>
			</div>
			<div class="task-manager--stickynote">
				<h3>Task Name</h3>
				<br />
				<p>
					<i class="blue">HC</i> <i class="darkBlue">AC</i>
					<i class="green">ZM</i>
				</p>
				<br />
				<h5>Due in 5 days</h5>
			</div>
		</div>
		<div class="task-manager--tasks-column">
			<div class="task-manager--tasks-heading">To Do</div>
			<div class="task-manager--stickynote">
				<h3>Task Name</h3>
				<br />
				<p>
					<i class="blue">HC</i> <i class="darkBlue">AC</i>
					<i class="green">ZM</i>
				</p>
				<br />
				<h5>Due in 5 days</h5>
			</div>
		</div>
		<div class="task-manager--tasks-column">
			<div class="task-manager--tasks-heading">Doing</div>
			<div class="task-manager--stickynote">
				<h3>Task Name</h3>
				<br />
				<p>
					<i class="blue">HC</i> <i class="darkBlue">AC</i>
					<i class="green">ZM</i>
				</p>
				<br />
				<h5>Due in 5 days</h5>
			</div>
			<div class="task-manager--stickynote">
				<h3>Task Name</h3>
				<br />
				<p>
					<i class="blue">HC</i> <i class="darkBlue">AC</i>
					<i class="green">ZM</i>
				</p>
				<br />
				<h5>Due in 5 days</h5>
			</div>
		</div>
		<div class="task-manager--tasks-column">
			<div class="task-manager--tasks-heading">Review</div>
			<div class="task-manager--stickynote">
				<h3>Task Name</h3>
				<br />
				<p>
					<i class="blue">HC</i> <i class="darkBlue">AC</i>
					<i class="green">ZM</i>
				</p>
				<br />
				<h5>Due in 5 days</h5>
			</div>
		</div>
		<div class="task-manager--tasks-column">
			<div class="task-manager--tasks-heading">Done</div>
		</div>
	</div>
</div>
