*
{
    padding: 0px;
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.nav ul 
{
    list-style-type: none;
}


.nav ul li
{
    display: inline;
}

.nav ul li a
{
    display: block;
    text-decoration: none;
}

.main-nav
{
    width: 100%;
    height: 116px;
    background: #ecf0f1;
    color: #1db954;
}

.main-nav-top
{
    
}

.main-nav-bottom
{
    
}

#searchbar-outter
{
    max-width: 600px;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    width: 100%;
    display: flex;
    height: 68px;
}

#searchbar
{
    -webkit-transition: border 0.2s ease-out, background-color 0.2s ease-out;
  transition: border 0.2s ease-out, background-color 0.2s ease-out;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 6px;
    width: 100%;
    height: 48px;
    margin: 15px auto 5px;
    padding: 0 16px 0 58px;
    border: 1px solid #E4E8EB;
    background-size: 18px 18px;
    color: #1F2831;
    cursor: text;
    /* text-align: center; */
    font-size: 14px;
    line-height: 40px;
    font-weight: 500;
    background: #F9F9F9 url(https://app.fullstory.com/s/img/omnibox/omnibox-icon@2x.png) 10px 50% no-repeat;
}

#searchbar:focus
{
outline: none;
  color: #3A4B59;
  border: 1px solid #fbbed1;
  background-color: #fff;
}
